:host {
  ion-content {
    --background: #000;
  }
}

app-ar-viewer {
  display: block;
  width: 100%;
  height: 100%;
}

.missing {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  padding: 0 2rem;
  text-align: center;
  color: #ffffff;
}

.missing ion-icon {
  font-size: 3rem;
}
