<ion-header translucent="true">
  <ion-toolbar color="dark">
    <ion-buttons slot="start">
      <ion-button fill="clear" (click)="goBack()">
        <ion-icon name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Experiencia AR</ion-title>
    <ion-buttons slot="end">
      <ion-button fill="clear" (click)="openPicker()">
        <ion-icon name="images"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen="true" color="dark">
  <ng-container *ngIf="selectedTarget; else missingTarget">
    <app-ar-viewer [target]="selectedTarget"></app-ar-viewer>
  </ng-container>

  <ng-template #missingTarget>
    <div class="missing">
      <ion-icon name="alert-circle"></ion-icon>
      <h2>Selecciona un objetivo</h2>
      <p>Vuelve al inicio para elegir un marcador o imagen antes de iniciar la cámara.</p>
      <ion-button expand="block" color="primary" (click)="openPicker()">Ir a Home</ion-button>
    </div>
  </ng-template>
</ion-content>
